This case, you are left "into the wild". We give you an open exercise, try to deal with a more realistic dataset. The dataset contains passengers of an old ship that sunk.

Conduct analyses, learn a decision tree, and try to understand the reasons behind the learning process.

By inspecting the learned decision tree, try to analyze distinctive factos that make people "died".

The dataset contains the following informations:


*   *survive*, boolean variable that tells if the paggenger survived (1) or not
*   *sex*, discrete variable that tells you if the passenger was male or female
*   *age*, floating number
*   *n-sibilings-spouse*, number of siblilings / spouses aboard
*   *parch*, number of parents / children abroad
*   *fare*, passenger fare
*   *class*, cabin class (first, second, third)
*   *deck*, place of the cabin (can be unknown)
*   *embark town*, where the passenger has been embarked
*   *alone*, whether the passenger is with someone



The variable you need to predict is $survive$.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#load training and testing data
df_train = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/train.csv")
df_test = pd.read_csv("https://storage.googleapis.com/tf-datasets/titanic/eval.csv")

df_train

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y
...,...,...,...,...,...,...,...,...,...,...
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
623,0,male,25.0,0,0,7.0500,Third,unknown,Southampton,y
624,1,female,19.0,0,0,30.0000,First,B,Southampton,y
625,0,female,28.0,1,2,23.4500,Third,unknown,Southampton,n
626,0,male,32.0,0,0,7.7500,Third,unknown,Queenstown,y